<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%= javascript_include_tag "main", "data-turbo-track": "reload", defer: true %>

<h1>bienvenue dans la super appli en CLI</h1>

<h2>1. Ouvrir tout d'abord la console</h2>

<h3> 1.1 pour créer le premier item en console --> const item1 = new Item("Sleek Granite2 Bench")</h3>
<h3> 1.2 Ensuite il faut sauvegarder l'item en tapant --> item1.save() sans oublier les parenthèses</h3>